/* style css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.kun {
  width: 100px;
  height: auto;
}

.header {
  background-color: #1f2937;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 128px;
  gap: 50px;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.monitor {
  width: 300px;
  height: auto;
}

.text1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bold;
}

.text2,a {
  font-size: 16px;
  color: #e5e7eb;
}

.random-info {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.subtexts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 128px;
}

.subtext {
  display: flex;
  border: solid 0.25em #3882f6;
  border-radius: 1em;
}

.cont2 {
  background-color: #e5e7eb;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.quote {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight:lighter;
  text-align: justify;
}

.author-quote {
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
  padding-top: 25px;
  text-align: right;
}

.cont3 {
  padding: 100px 200px;
}

.action {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

.call {
  font-size: 20px;
  font-weight: bold;
}



.footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 32px;
  text-align: center;
}

img {
  width: 50px;
  height: auto;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

.btn {
  border: 2px solid #f9faf8;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
}

a {
  text-decoration: none;
}
